*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 50px;
    display: flex;             
    justify-content: center;    
    align-items: justify;        
    background: #eee;
    margin: 60px;
}

.calculator {
    width: 350px;
    background-color: rgb(17, 16, 17);
    border-radius: 25px;
    padding: 20px;

    display: grid;              
    grid-template-rows: 100px auto;
    gap: 15px;
}

.screen {
    background: #f5efef;
    border-radius: 25px;
    font-size: 60px;
    padding: 20px;
    text-align: right;
    display: flex;            
    align-items: center;
    justify-content: flex-end;
}

.buttons {
    display: grid;              
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    width: 60px;        
    height: 60px;      
    background-color: #323532;  
    color: white;   
    border: none;    
    background: #525050;
    border: none;
    border-radius: 60px;
    font-size: 35px;
    cursor: pointer;
}

button:active {
    background: #6d6868;
}

.zero {
    grid-column: span 2; 
}

.equal {
    background: #eeb687;
}