*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.calculator{
    width: 450px;
    height: 500PX;
    border: 1px solid #000;
    background-color: rgb(191, 169, 212);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 1fr 1fr;
}

.buttons{
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    background-color: antiquewhite;
    grid-row: 2/5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}

button{
    border-radius: 50px;
    width: 40%;
    height: 40%;
    border: #000;
    background-color: #d4a9a9;
    margin: 10px;
}

