*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;             
    justify-content: justify;    
    align-items: justify;        
    background: #eee;
}

.calculator {
    width: 350px;
    background-color: rgb(204, 166, 240);
    border-radius: 25px;
    padding: 20px;
    display: grid;              
    grid-template-rows: 100px auto;
    gap: 15px;
}

.screen {
    background: #f0dada;
    border-radius: 25px;
    font-size: 2.5rem;
    padding: 20px;
    text-align: right;
    display: flex;            
    align-items: justify;
    justify-content: flex-end;
}

.buttons {
    display: grid;              
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    background: #b17d7d;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

button:active {
    background: #dab1b1;
}

.zero {
    grid-column: span 2; 
}

.equal {
    background: #ef7c1d;
}