body{
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: rgba(208, 144, 34, 0.449);
}


hr{
    border: 0;
    border-top:2px solid #ff8800;
}


article, section,form {
    border: 2px solid #ff8800;    /* Borde azul neón */
    border-radius: 10px;           /* Bordes redondeados */
    padding: 20px;                 /* Espacio interno */
    margin: 20px 0;                /* Separación entre artículos */
    margin-right: auto;
}

.sol-container {
    text-align: center;
    margin-top: 50px;
}

.sol {
    font-size: 150px;
    margin: 0;
}

.temperatura {
    font-size: 24px;
}