*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background:
        linear-gradient(rgba(136, 136, 136, 0.027), rgba(20, 19, 19, 0.281)),
        url('../imagenes/pexels-therato-1933239.jpg');
    background-repeat: no-repeat;
    background-size: cover;     
    background-position: center; 
    min-height: 100vh;
}


/* Ajuste global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Todos los iframes ocultos por defecto */
.app {
    margin: 70px;
    position: fixed;
    width: calc(70vh - 50px);
    height: calc(70vh - 50px);
    border-radius: 20px;
    border: none;
    display: none;
    background: white;
}

/* Cuando el id coincide con el hash de la URL */
.app:target {
    display: block;
}

/* Barra inferior tipo escritorio */
.barra {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #222;
    padding: 10px;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

/* Botones de la barra */
.barra .icon img {
    width: 40px;
    height: 40px;
    cursor: pointer;

    transition: transform .2s;
}

.barra .icon img:hover {
    transform: scale(1.15);
}

